<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal</title>
</head>
<body>
    <h1>계산기 만들기</h1>

    <span>X :</span> <span th:text="${X}">ㅋㅋ</span> <br/>
    <span>Y :</span> <span th:text="${Y}">ㅋㅋ</span> <br/>

    <span>Result : </span> 
    <span th:text="${result}"></span>
    
</body>
</html>